html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.header {
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    background-color: rgb(47, 46, 46);
    padding: 10px;
}

.button button {
    color: white;
    background-color: gray;
    border: 0;
}

.button button:hover {
    color: white;
    background-color: rgb(175, 175, 175);
    border: 0;
}

.button button:active {
    color: white;
    background-color: rgb(73, 73, 73);
    border: 0;
}

.book-card-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin: 10px;
    justify-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 150px;
    height: 200px;
    background-color: rgb(48, 48, 48);
    border: 5px solid rgb(118, 118, 118);
    border-radius: 10px;
    box-sizing: border-box;
}

.delete-button{
    width: 50%;
    background-color: rgb(54, 54, 54);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

.delete-button:hover{
    width: 50%;
    background-color: rgb(124, 124, 124);
    color: white;
}

.isRead-button{
    width: 50%;
    background-color: rgb(7, 233, 78);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

.isRead-button:hover{
    width: 50%;
    background-color: rgb(1, 129, 61);
    color: white;
}

.notRead-button{
    width: 50%;
    background-color: rgb(255, 0, 0);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

.notRead-button:hover{
    width: 50%;
    background-color: rgb(139, 0, 0);
    color: white;
}


.card p{
    margin: 0;
}
.footer {
    grid-row: 3/4;
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
}

.form-popup {
    display: none;
    position: fixed;
    border: 3px solid #000000;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: rgba(49, 48, 48, 0.764);
    color: rgb(187, 187, 187);
  }

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=number],
.form-container input [type=checkbox] {
    color: white;
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #76767676;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus,
.form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #3b3b3b;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}